:root{
--primary-blue: rgb(14, 12, 40);
--secondary-blue: rgb(40, 105, 161);
--secondary-blue-on: rgba(40, 104, 161, 0.57);
--secondary-blue-off: rgba(56, 128, 255, 0.278);
--primary-success: rgb(34, 189, 79);
--socondry-success:rgba(103, 201, 131, 0.963);
--primary-danger: rgb(220, 53, 69);
--primary-warning:rgb(220, 181, 53);
--socondry-warning: rgba(220, 181, 53, 0.372);
--primary-black: rgba(0, 0, 0, 0.8);
--socondry-black: rgb(138, 146, 160);
--dead-blue: rgb(35, 52, 84);
--font-color-primary: rgb(255, 255, 255);
--font-color-secondry: rgb(138, 146, 160);
--font-color-third: rgb(5, 0, 38);
--alive-blue:rgb(135, 205, 234);
--white: rgb(255, 255, 255);
--black: rgb(0, 0, 0);
--gray: rgb(138, 146, 160);
--secondry-gray : rgba(217, 217, 217, 0.264);
--primary-font: "Righteous", sans-serif;
--socondry-font: "ABeeZee", sans-serif;
--primapry-purpule: rgb(156, 71, 255);
--background-yallow: rgb(255, 255, 0);
/* --primary-green: rgb(1, 50, 12); */
}
body{
    background: linear-gradient(to top right , rgb(16, 147, 203), #A5E4FD);

    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
/* container 1 */
.container1{
    display: flex;
    width: 520px;
    height: 550px;
    border-radius: 50px;
    background: linear-gradient(210deg, rgba(60, 96, 195), rgba(60, 96, 195, 0));
    text-align: center;
    display: block;
    cursor: pointer;
}
.container1:hover{
    background: linear-gradient(210deg, rgba(60, 96, 195), rgba(60, 96, 195, 0.9));
}
.offline-image{
    margin-top: -250px;
} 
p{
    font-size: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: 6px;
}
.offline-text{
    margin-top: -10px;
    margin-right: 100px;
    font-family: "Redressed", cursive;
    color: whitesmoke;
}
.MODE-text{
    margin-left: 100px;
    font-family: "Bebas Neue", sans-serif;
    color: whitesmoke;
}
.ball{
    position: absolute;
    top: 300px;
    left: 460px;
    width: 30px;
    opacity: 0%;
}
.bg-image{
    position: relative;
    opacity: 0%;
    margin-top: -100px;
    right: 310px;
    transform: rotate(-25deg);
    transition: transform 0.8s ease-in-out;
}
.container1:hover .bg-image{
    opacity: 5%;
    transform: translateX(250px);
}
/* image-online animation */
@keyframes bounce{
    0% { transform: translateY(0px); }
    30% { transform: translateY(-10px); }
    50% { transform: translateY(0); }
    70% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
} 
.container1:hover .offline-image{
    animation: bounce 3s ease-in-out infinite; 
    /* animation: bounce 3s ease infinite;  */
}
/* image-online animation */

/* ball */
@keyframes bounce_b{
    0% { transform: translateX(0px); }
    30% { transform: translateX(5px); }
    50% { transform: translateX(0px); }
    70% { transform: translateX(5px); }
    100% { transform: translateX(0); }
}
.container1:hover .ball{
    position: absolute;
    top: 120px;
    left: 200px;
    opacity: 100%;
    animation: bounce_b 3s infinite;
}
/* ball annimation */

/* container 2 */
.container2{
    overflow: hidden;
    display: flex;
    width: 520px;
    height: 550px;
    margin-top: 300px;
    border-radius: 50px;
    background: linear-gradient(210deg, rgb(2, 172, 8), rgb(227, 16, 125, 0));
    color: white;
    text-align: center;
    justify-content: center;
    display: block;
    cursor: pointer;
}
.online-image{
    width: 100%;
    height: auto;
    transition: transform 0.5s ease-in-out; /* Smooth transition for the zoom effect */
}
.container2:hover .online-image{
    margin-top: 10px;
    transform: scale(1.2); /* Zoom in on hover by 20% */
}
@keyframes move_paddle{
    0% { transform: scale(1.2), translateX(0px); }
    30% { transform: translateX(20px); }
    50% { transform: translateX(40px); }
    70% { transform: translateX(50px); }
    100% { transform: translateX(100px); }
} 
.paddle{
    opacity: 0;
    margin-top: -300px;
    margin-left: -150px;
    transition: opacity 0.3s ease;
}
.container2:hover .paddle{
    opacity: 1;
    animation: move_paddle 4s ease infinite;
}
.online-text{
    margin-top: -10px;
    margin-right: 100px;
    font-family: "Redressed", cursive;
    color: whitesmoke;
}
.text-online{
    margin-top: 50px;
}
/* container 2 */

.container3{
    display: flex;
    width: 520px;
    height: 550px;
    border-radius: 50px;
    background: linear-gradient(210deg, rgb(219, 147, 8), rgb(227, 16, 125, 0));
    text-align: center;
    display: block;
    cursor: pointer;
}
.turnoi-image{
    margin-left: 50px;
    margin-top: -250px;
}
.turnoi-text{
    margin-top: 30px;
    margin-right: 100px;
    font-family: "Redressed", cursive;
    color: white;

}
@keyframes move_turnoi{
    0% { transform: translateY(0px); }
    30% { transform: translateY(-10px); }
    50% { transform: translateY(5px); }
    70% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
}
.MODE-textturnoi{
    margin-left: 200px;
    font-family: "Bebas Neue", sans-serif;
    color: whitesmoke;
}
.container3:hover .turnoi-image{
    animation: move_turnoi 3s ease-in-out infinite;
}